body {
    margin: 0px;
    padding: 0px;
}

.background {
    background-color: rgb(20, 27, 35);
    display: flex;
    width: 100%;
    min-height: 900px;
    justify-content: center;
}

.image {
    background-image: url(https://i.pinimg.com/736x/f6/74/d6/f674d6c7e3f05fb503394f202b508d7e.jpg);
    background-size: cover;
    min-height: 600px;
    padding-top: 200px;
}

.odin {
    width: 20%;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    padding: 10px;
    background-color: rgb(20, 27, 35, 0.5);
    font-family: Norse-Bold;
}

.container {
    display: flex;
}

.main {
    width: 800px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px;
}

.intro {
    padding: 30px;
    padding-top: 130px;
    font-size: 20px;
    background-color: rgb(249, 250, 252);
}

.intro > p {
    font-weight: bold;
}

.info {
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form {
    display: flex;
    font-size: 17px;
}

.labels {
    display: flex;
}

label {
    display: inline-block;
    width: 130px;
    margin: 7px;
}

.right { 
    margin-left: 40px;
}

.create {
    background-color: rgb(249, 250, 252);
    padding: 30px;
    padding-bottom: 290px;
    font-size: 17px;
}

button {
    background-color: #596D48;
    color: white;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 7px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

input {
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border: solid 1px lightskyblue;
}

#password, #confirm {
    border: solid 1px maroon;
}

@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
